.bkmk {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 4em;
  background-image: url('../images/bookmark_none.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.selected {
  background-image: url('../images/bookmark.png');
}
